---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPostLink from '../../components/BlogPostLink.astro'
import { getCollection } from 'astro:content';


export async function getStaticPaths(){
    const allPosts = await getCollection('posts')

    const uniqueTags = allPosts.map(post => post.data.tags).flat()

    return uniqueTags.map(tag => {
        const filteredPosts = allPosts.filter(post => post.data.tags.includes(tag))

        return {
            params: {tag},
            props: {posts: filteredPosts},
        }
    })
}


const {tag} = Astro.params
const {posts} = Astro.props
---

<BaseLayout pageTitle={tag}>
    <h2>{posts.length} posts found about {tag}</h2>
    <ul>
        {
            posts.map(post => <BlogPostLink url={`/posts/${post.slug}`} title={post.data.title} />)
        }
    </ul>
</BaseLayout>