---
import '../styles/global.css'

const pageTitle = 'About me'

// about me
const name = 'Tamimul Islam'
const title = 'Full Stack Developer'
const description = 'Hello, I am Tamimul Islam from Chittagong, Bangladesh. I am a full-stack developer.'
const skills = ['React', 'Astro', 'Solid', 'Next.js', 'Javascript', 'Node.js', 'MongoDb', 'Typescript']

// skill vars
const skillColor = 'navy'
const skillWeight = 'bold'
const skillCase = 'uppercase'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

        <style define:vars={{skillColor, skillWeight, skillCase}}>
            h1{
                font-size: 2rem;
                color: purple;
            }
            h3{
                font-size: 1.5rem;
                margin-bottom: 0;
            }
            .skill{
                color: var(--skillColor);
                font-weight: var(--skillWeight);
                text-transform: var(--skillCase);
            }
        </style>
	</head>
	<body>
		<div>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</div>
		<h1>{pageTitle}</h1>
        <h3>{name}</h3>
        <h5>{title}</h5>
        <p>{description}</p>
        <ul>
            {skills.map(skill => <li class="skill">{skill}</li>)}
        </ul>
	</body>
</html>
